<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font awesome for icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/singleAuthor.css" />
  
  <title>Single user</title>
</head>
<body>
  <div class="author-wrapper">
    <h3>Name:<%= author.name %></h3>
    <h4>Email:<%= author.email %></h4>
    <p>Age: <%= author.age %></p>
    <% author.books.forEach(book => { %>
      <h1><%= book.title %></h1>
    <% }) %>
    <div class="edit-info">
      <a href="/authors/<%= author._id%>/edit ">
        <!-- <img src="https://image.flaticon.com/icons/png/128/1001/1001371.png"  width="50px" height="50px" alt="edit" > -->
        Edit:    <i class="fas fa-user-edit"></i>
      </a>
      <a href="/authors/<%= author._id%>/delete ">
        <!-- <img src="https://image.flaticon.com/icons/png/128/1001/1001371.png"  width="50px" height="50px" alt="edit" > -->
        Delete:    <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</body>

</html>